@import url('./header.css');

.header--sticky {
  position: sticky;
  top: 0;
  z-index: 11;
  transition: all 0.5s ease;
  animation: smoothScroll 0.5s forwards;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: none;
  background-color: rgba(15, 23, 42, 1);
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-85px);
  }
  100% {
    transform: translateY(0px);
  }
}

.spinner {
  width: 150px;
  height: 150px;
  fill: #18a0fb;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
