.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch > span {
  position: absolute;
  top: 10px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

#language-toggle.check-toggle-round-flat:checked ~ .off {
  color: #1e293b;
}

#language-toggle.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: rgb(56 189 248);
}

.switch > span.off {
  right: 0;
  padding-right: 6px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

#language-toggle.check-toggle-round-flat + label {
  padding: 2px;
  width: 80px;
  height: 36px;
  background-color: rgb(56 189 248);
  border-radius: 18px;
}
#language-toggle.check-toggle-round-flat + label:before, #language-toggle.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

#language-toggle.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: rgb(56 189 248);
  border-radius: 60px;
}
#language-toggle.check-toggle-round-flat + label:after {
  top: 6px;
  left: 6px;
  bottom: 6px;
  width: 32px;
  background-color: #fff;
  border-radius: 50px;
  transition: margin 0.2s;
}


#language-toggle.check-toggle-round-flat:checked + label:after {
  margin-left: 34px;
  
}
#language-toggle.check-toggle-round-flat:checked + label:before {
  background-color: #1e293b;
}